body {
  font-family: 'open-sans', sans-serif;

  text-align: center;
}

#hero {
    width: 486px;
    margin: 0 auto 72px;
}

hero img {
    margin-bottom: 32px;
}

h1 {
  font-family: 'inter', Dosis;
  font-size: 32px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 16px;
}

h1 span {
    font-weight: bold;
}

span {
    color: #EE24FF;
}

p {
    color: #828282;

    font-size: 14px;
    line-height: 28px;
}

strong {
    color: #3F3D56;
}

a {
    color: #1c1c23;
}

#footer a {
    margin-right: 28px;
}

#line {
    width: 391px;
    height: 0px;

    margin: 0 auto 16px;

    border: 1px #ECEFF2 solid;

}

#rodape {
    position: fixed;
    

}